.location p{
  /*border-bottom:1px solid #333;*/
  margin-bottom:0;
  margin-top:15px;
}
.card{
  border-bottom: 1px solid #ccc;
  position:relative;
  padding: 15px 0;
}
.card .close{
  position:absolute;
  top:10px;
  right:10px;
}
.card .icon{
  margin-top:15px;
}
.card-nav span{
  width:30px;
  height:30px;
  display:inline-block;
  background:#444;
  color:#fff;
  text-align:center;
  border-radius:15px;
  padding-top:3px;
  margin:15px;

}